<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proy2_2023.My.MySettings.proy2_2023ConnectionString"
            connectionString="Data Source=DESKTOP-PQ93I0C\SQLEXPRESS08;Initial Catalog=proy2_2023;Persist Security Info=false;User ID=sa;password=foxy123" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>